.platform-header {
  background: #2d2e2e;
  height: 68px;
  position: fixed;
  width: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
}

.platform-header__links {
  font-size: 16px;
  display: flex;
  align-items: center;
  flex-direction: row;
  align-self: stretch;
  flex: 1 0 auto;
  list-style: none;
  padding: 0;
  margin: 0 0 0 80px;

  li {
    display: inline-flex;
    margin-bottom: 0px;
  }

  a {
    color: #fffdf9;
    border-bottom: 4px solid transparent;
    font-weight: 400;
    line-height: 24px;
    margin: 0 17px;
    padding: 21px 3px 17px;
  }

  .platform-header__selected {
    border-bottom: 4px solid #fffdf9;
  }
}

.platform-header__logo {
  height: 33px;
}

a#platform-header__logo {
  background: url($baseurl + "/assets/images/platform-logo.svg") no-repeat;
  width: 192px;
  height: 33px;
}

.menu-toggle {
  outline: none;
  display: none;
  cursor: pointer;
  line-height: 0;
  border: none;
  background: none;
  padding: 0;

  &__icon {
    background: url($baseurl + "/assets/images/toggle.svg") no-repeat;
    width: 18px;
    height: 18px;
  }
}

.search {
  width: 400px;
  padding-left: 10px;

  .gsc-control-cse,
  form.gsc-search-box {
    background: none;
    border: none;
  }

  table,
  td {
    margin: 0;
    border: none;
    padding: 0;

    input {
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      color: $blackwidow;
      font-size: 14px;
    }
  }

  .gsc-control-cse {
    padding: 0;
  }

  .gsc-search-box {
    border: none;
    margin: 0;
  }

  .gsc-input-box {
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
  }

  .gsc-search-button-v2 {
    padding: 11px 27px;
    border-radius: 4px;
  }

  .gsst_b {
    height: 18px;
  }

  .gsst_a {
    padding: 0;
    padding-left: 5px;
  }

  .gsst_a .gscb_a {
    color: $steel;
    line-height: 0;
    padding: 0;
  }

  .gsst_a:hover .gscb_a {
    color: $batmobile;
  }
}

@media (min-width: 770px) {
  .sidebar .search {
    display: none;
  }
}

@media (max-width: 769px) {
  .platform-header {
    height: 56px;
    padding: 0 20px;
    justify-content: space-between;

    .search { display: none; }
  }

  .search {
    width: 100%;
    padding: 0 12px 0 20px;
    margin-bottom: 20px;

    .gsc-input-box {
      border: 1px solid $adamantium;
    }
  }

  .platform-header__links {
    display: none;
  }

  .platform-header__logo {
    flex: 1;
  }

  .menu-toggle {
    display: block;

    &[aria-expanded="true"] {
      .menu-toggle__icon {
        background: url($baseurl + "/assets/images/toggle-close.svg") no-repeat;
      }
    }
  }
}
