<header class="platform-header">
  <a href="https://zapier.com/developer-platform" id="platform-header__logo"></a>

  <ul class="platform-header__links">
    <li><a href="https://zapier.com/developer-platform/integrations">How to build</a></li>
    <li><a href="https://platform.zapier.com" class="platform-header__selected">Docs</a></li>
    <li><a href="https://zapier.com/developer-platform/embed-tools">Tools</a></li>
    <li><a href="https://zapier.com/developer-platform/partner-program">Partner Program</a></li>
    <li><a href="https://zapier.com/developer-platform/resources">Resources</a></li>
  </ul>

  <div class="search">
    <form method="get" action="/search" autocomplete="off">
        <input type="text" name="q" class="search-input" placeholder="Search..." autofill="off" />
    </form>
  </div>

  <button class="menu-toggle js-menu-toggle" aria-controls="menu" aria-expanded="true">
    <div class="menu-toggle__icon" alt="Menu icon"></div>
  </button>
</header>

<!-- Image Zoom controls -->
<div class="zoom-close">
  <img src="../assets/images/toggle-close.svg" />
</div>
<div class="page-blur">
</div>
