<header class="platform-header">
  <a href="/" id="platform-header__logo"></a>
  <script>
    (function() {
      const cookies = Object.fromEntries(document.cookie.split('; ').map(v=>v.split(/=(.*)/s).map(decodeURIComponent)));
      const isRebrand = cookies['__tzp'] === 'true';
      const logo = document.getElementById('platform-header__logo');
      logo.classList.remove(isRebrand ? 'old' : 'new');
      logo.classList.add(isRebrand ? 'new' : 'old');
    })();
  </script>

  <ul class="platform-header__links">
    <li><a href="https://zapier.com/platform/how-to-build">How to Build</a></li>
    <li><a href="https://zapier.com/platform/partner-program">Partner Program</a></li>
    <li><a href="/" class="platform-header__selected">Documentation</a></li>
  </ul>

  <div class="search">
    <script>
      (function() {
        var cx = '006212384688293188622:ae9ahilsbti';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
  </div>

  <button class="menu-toggle js-menu-toggle" aria-controls="menu" aria-expanded="true">
    <div class="menu-toggle__icon" alt="Menu icon"></div>
  </button>
</header>
