<header class="platform-header">
  <a href="/" class="platform-header__logo"></a>

  <ul class="platform-header__links">
    <li><a href="https://zapier.com/platform/how-to-build">How to Build</a></li>
    <li><a href="https://zapier.com/platform/partner-program">Partner Program</a></li>
    <li><a href="/">Documentation</a></li>
  </ul>

  <button class="menu-toggle js-menu-toggle" aria-controls="menu" aria-expanded="true">
    <div class="menu-toggle__icon" alt="Menu icon"></div>
  </button>
</header>
