<script>
  (function() {
    function sendToGa() {
      window.dataLayer = window.dataLayer || []; // Provide empty array to push into to avoid errors in development
      window.dataLayer.push({
        event: 'page-view',
        eventLabel: 'page-view',
      });
    }

    function sendToBE() {
      fetch('https://zapier.com/api/v3/events', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          message: 'navigate'
        }),
      });
    }

    document.addEventListener('DOMContentLoaded', function() {
      sendToGa();
      sendToBE();
    });
  })();
</script>