{% assign split_url = page.url | split: '/' %}
{% assign current_section = split_url[1] %}

<div class="sidebar">
  <div class="sidebar__header">
    <a href="{{ site.baseurl }}/" class="sidebar__logo">
      <div class="sidebar__icon"></div> Zapier Platform UI
    </a>
    <button class="menu-toggle js-menu-toggle" aria-controls="menu" aria-expanded="false">
      <div class="menu-toggle__icon" alt="Menu icon">
    </button>
  </div>
  <nav id="menu" class="sidebar__nav">
    {% include side-nav-item.html title="Quick Start" items=site.quickstart section_id="quickstart" current_section=current_section %}
    {% include side-nav-item.html title="Documentation" items=site.docs section_id="docs" current_section=current_section %}
    {% include side-nav-item.html title="Updates" items=site.news section_id="news" current_section=current_section %}
    {% include side-nav-item.html title="CLI Tutorials" items=site.cli_tutorials section_id="cli_tutorials" current_section=current_section %}
    {% include side-nav-item.html title="Legacy Web Builder" items=site.legacy_web_builder section_id="legacy_web_builder" current_section=current_section %}
    {% include side-nav-item.html title="Partners" items=site.partners section_id="partners" current_section=current_section %}
  </nav>
</div>
