// Primary Colors
// Black
$deepspace: #354147;
$blackwidow: #20272b;
$batmobile: #5f6c72;
$steel: #969ea2;
$adamantium: #dadfe2;
$storm: #f1f4f5;

// Red
$lava: #ff4a00;
$cyclops: #c63a00;
$starlord: #ffa38c;
$drax: #ffd2bf;

// Blue
$heroine: #499df3;
$captainamerica: #428ddb;
$thetick: #add2fa;
$iceman: #d1e6fc;

// Secondary Colors
// Orange
$armor: #fd7622;
$aquaman: #e46a1f;
$sabretooth: #fec19b;
$thing: #feddc8;

// Yellow
$wolverine: #ffc43e;
$oldmanlogan: #e5b038;
$ultron: #ffcf61;
$thor: #fff0cf;

// Green
$gamma: #13d0ab;
$joker: #11bb9a;
$vision: #95ead9;
$agamotto: #c4f3ea;

// Light Blue
$avatar: #46caef;
$beast: #3fb6d7;
$collosus: #ace7f8;
$cyborg: #d1f2fb;

// Purple
$mystique: #6061ed;
$venom: #5657d5;
$hawkeye: #b7b8f7;
$thunder: #d7d7fa;

// Pink
$ramona: #fc1c74;
$jubilee: #e31968;
$gambit: #fd99c0;
$krang: #fec6dc;
