<!DOCTYPE html>
<html>
{% include head.html %}
  <body>
    {% include header.html %}
    <main class="split-layout">
      {% include side-nav.html %}
      <div class="container">
        <section class="content">{{ content }}</section>
        <footer class="prev-next">
  	     {% include prev-next.html %}
  	      <hr>
  	       <p><em>Have any feedback or questions? <a href="https://github.com/zapier/visual-builder/issues/new/choose" target="_blank">Let us know</a>.</em></p>
        </footer>
      </div>
    </main>
    {% include javascript.html %}
    {% include javascript-docs-tracking.html %}
  </body>
</html>
